@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

body {
  font-family: InterRegular;
  overflow-x: hidden;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}


@font-face {
  font-family: InterRegular;
  src: url(./assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(./assets/fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
  font-family: InterSemiBold;
  src: url(./assets/fonts/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
  font-family: InterExtraBold;
  src: url(./assets/fonts/Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: InterBlack;
  src: url(./assets/fonts/Inter/static/Inter-Black.ttf);
}



@font-face {
  font-family: MontserratMedium;
  src: url(./assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: MontserratSemiBold;
  src: url(./assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}


@font-face {
  font-family: NunitoRegular;
  src: url(./assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Regular.ttf);
}
