

.p-tabview-nav-link {
    font-size: 16px;
}

#pr_id_2_header_0{
    color: #33CAFF;
}
#pr_id_2_header_2{
    background-color: #33CAFF;
    color: black;
}


.p-tabview-nav-link{
    border:none;
}
.p-tabview-nav{
    padding-bottom: 5px;
}