

.p-tabview-nav-link {
    font-size: 16px !important;
}


.edit a{
    background-color: #33CAFF !important;
    color: black !important;
}
.news a{
    color: #33CAFF !important;
}

.p-tabview-nav-link{
    border:none !important;
}
.p-tabview-nav{
    padding-bottom: 5px !important;
}